@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/resets";
@use "./partials/fonts";

// Mobile styles
.nav {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $band-site-black;

  &__image {
    padding-top: 1rem;
  }

  &__list {
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 50%;
    font-family: "Avenir";
    font-weight: 400;
  }

  &__item {
    text-decoration: none;
    display: inline;
  }

  &__link {
    color: $mercury;
    text-decoration: none;
    transition: color 0.3s;
  }

  &__link:hover {
    color: $white;
  }

  &__link--active {
    border-bottom: 4px solid $white;
    width: 100%;
    font-weight: 600;
  }
}

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  height: 12vh;
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__title {
    color: $white;
    padding-left: 1rem;
  }

  &__image {
    width: 100%;
    height: 5%;
  }
}

.about {
  &__container {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }

  &__title {
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }

  &__band-image {
    display: block;
    margin: 0 auto;
    width: 95vw;
    padding-top: 1rem;
    padding-left: 1rem;
  }

  &__quote {
    @include mobile-subheader-typekit;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.article {
  &__title {
    margin: 1rem;
    font-weight: 600;
  }

  &__copy {
    margin: 1rem;
  }
}

.photo-gallery {
  &__title {
    @include mobile-section-header-typekit;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 2rem 0 1rem 0;
  }

  &__container {
    background-color: $alabaster;
    padding: 0 1rem;
  }

  &__images {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  &__images-item {
    height: auto;
    padding: 1rem;
  }
}

.footer {
  background-color: #323232;
  color: $alabaster;
  padding: 0 1rem;
  font-weight: 400;

  &__title {
    font-family: "Avenir";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 2rem 0 1.5rem 0;
  }

  &__social {
    padding-bottom: 2rem;

    &-link {
      margin-right: 1.6rem;
    }
  }

  &__logo {
    display: none;
  }

  &__contact-name {
    @include mobile-footerCopy-typekit;
    color: $white;
  }

  &__contact-link {
    @include mobile-footerCopy-typekit;
    color: $silver;
    text-decoration: none;
    margin-bottom: 1.25rem;
  }

  &__contact-link {
    color: $silver;
  }

  &__contact-link:hover {
    color: $white;
  }

  &__copyright {
    @include mobile-footerCopy-typekit;
    color: $white;
    padding-bottom: 2rem;
  }
}

.footer__image {
  display: block;
  margin-bottom: 1rem;
}


// Tablet styles
@media (min-width: 768px) and (max-width: 1279px) {
  .nav {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $band-site-black;

    &__image {
      max-width: 7.5rem;
    }

    &__list {
      justify-content: space-between;
      margin: 0;
      padding: 0 0 0 2rem;
      list-style: none;
      display: flex;
      width: 28%;
      font-family: "Avenir";
      font-weight: 400;
    }
  }

  .hero {
    height: 25vh;

    &__title {
      font-family: "Avenir";
      font-weight: 600;
      font-size: 2rem;
    }
  }

  .about {
    &__container {
      padding: 5rem;
    }

    &__band-image {
      width: 80vw;
    }
  }

  .article {
    &__copy-column {
      display: flex;
      margin-left: 5rem;
      margin-right: 5rem;
    }

    &__copy {
      width: 50%;
      padding: 0 1rem;
      box-sizing: border-box;
    }
  }

  .photo-gallery {
    &__images {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;

      &-item {
        width: 30%;
        height: auto;
        padding: 1rem;
      }
    }
  }

  .footer {
    padding: 0 1.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;

    &__main {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__title {
      font-size: 2.25rem;
      line-height: 2.75rem;
      padding: 3rem 0 3.5rem 0;
    }

    &__social {
      padding: 0 8rem 0 0;

      &-link {
        margin-right: 2rem;
      }
    }

    &__logo {
      display: inherit;
      height: 1.5rem;
      width: 7.5rem;
    }

    &__contact {
      &-name {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-bottom: 1.5rem;
      }

      &-location {
        padding-bottom: 0.25rem;
      }

      &-link {
        margin-bottom: 2.5rem;
      }

      &-container {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

// Desktop styles
@media (min-width: 1280px) {
  .nav {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $band-site-black;

    &__image {
      max-width: 7.5rem;
    }

    &__list {
      justify-content: space-between;
      margin: 0;
      padding: 0 0 0 2rem;
      list-style: none;
      display: flex;
      width: 28%;
      font-family: "Avenir";
      font-weight: 400;
    }
  }

  .hero {
    height: 25vh;

    &__title {
      font-family: "Avenir";
      font-weight: 600;
      font-size: 2rem;
    }
  }

  .about {
    &__band-image {
      width: 90vw;
    }

    &__container {
      padding: 5rem;
    }
  }

  .article {
    &__copy-column {
      display: flex;
      margin-left: 5rem;
      margin-right: 5rem;
    }

    &__copy {
      width: 50%;
      padding: 0 1rem;
      box-sizing: border-box;
    }
  }

  .photo-gallery {
    &__images {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;

      &-item {
        width: 30%;
        height: auto;
        padding: 1rem;
      }
    }
  }

  .footer {
    padding: 0 1.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;

    &__main {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__title {
      font-size: 2.25rem;
      line-height: 2.75rem;
      padding: 3rem 0 3.5rem 0;
    }

    &__social {
      padding: 0 8rem 0 0;

      &-link {
        margin-right: 2rem;
      }
    }

    &__logo {
      display: inherit;
      height: 1.5rem;
      width: 7.5rem;
    }

    &__contact {
      &-name {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-bottom: 1.5rem;
      }

      &-location {
        padding-bottom: 0.25rem;
      }

      &-link {
        margin-bottom: 2.5rem;
      }

      &-container {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}