*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir";
}

@font-face {
  font-family: Avenir;
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Avenir;
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: Avenir;
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-style: bold;
  font-weight: 700;
}
.nav {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
}
.nav__image {
  padding-top: 1rem;
}
.nav__list {
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 50%;
  font-family: "Avenir";
  font-weight: 400;
}
.nav__item {
  text-decoration: none;
  display: inline;
}
.nav__link {
  color: #e1e1e1;
  text-decoration: none;
  transition: color 0.3s;
}
.nav__link:hover {
  color: #ffffff;
}

.active {
  border-bottom: 4px solid #ffffff;
  width: 100%;
  font-weight: 600;
}

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  height: 12vh;
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__title {
  color: #ffffff;
  padding-left: 1rem;
}
.hero__image {
  width: 100%;
  height: 5%;
}

.about__container {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.about__container .about__title {
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.about__container__band-image {
  display: block;
  margin: 0 auto;
  width: 95vw;
  padding-top: 1rem;
}
.about__container .about__quote {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.article__title {
  margin: 1rem;
  font-weight: 600;
}

.article__copy {
  margin: 1rem;
}

.photo-gallery__title {
  font-size: 2.5rem;
  line-height: 2rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 2rem 0 1rem 0;
}

.photo-gallery__container {
  background-color: #fafafa;
  padding: 0 1rem;
}

.photo-gallery__images {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
.photo-gallery__images-item {
  height: 50.625vw;
  width: 100%;
  padding: 0.5rem 0;
}

.footer {
  background-color: #323232;
  color: #fafafa;
  padding: 0 1rem;
  font-weight: 400;
}
.footer__title {
  font-family: "Avenir";
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 2rem 0 1.5rem 0;
}
.footer__social {
  padding-bottom: 2rem;
}
.footer__social-link {
  margin-right: 1.6rem;
}
.footer__logo {
  display: none;
}
.footer__contact-name {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #ffffff;
}
.footer__contact-location, .footer__contact-link {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #afafaf;
  text-decoration: none;
  margin-bottom: 1.25rem;
}
.footer__contact-link {
  color: #afafaf;
}
.footer__contact-link:hover {
  color: #ffffff;
}
.footer__copyright {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 2rem;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .nav {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #323232;
  }
  .nav__image {
    max-width: 7.5rem;
  }
  .nav__list {
    justify-content: space-between;
    margin: 0;
    padding: 0 0 0 2rem;
    list-style: none;
    display: flex;
    width: 28%;
    font-family: "Avenir";
    font-weight: 400;
  }
  .hero {
    height: 25vh;
  }
  .hero__title {
    font-family: "Avenir";
    font-weight: 600;
    font-size: 2rem;
  }
  .about__container {
    padding: 5rem;
  }
  .article__copy-column {
    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .article__copy {
    width: 50%;
    padding: 0 1rem;
    box-sizing: border-box;
  }
  .photo-gallery__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .photo-gallery__images-item {
    width: 30.33%;
    height: auto;
    margin-bottom: 1rem;
  }
}
@media (min-width: 1280px) {
  .nav {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #323232;
  }
  .nav__image {
    max-width: 7.5rem;
  }
  .nav__list {
    justify-content: space-between;
    margin: 0;
    padding: 0 0 0 2rem;
    list-style: none;
    display: flex;
    width: 28%;
    font-family: "Avenir";
    font-weight: 400;
  }
  .hero {
    height: 25vh;
  }
  .hero__title {
    font-family: "Avenir";
    font-weight: 600;
    font-size: 2rem;
  }
  .about__container {
    padding: 5rem;
  }
  .article__copy-column {
    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .article__copy {
    width: 50%;
    padding: 0 1rem;
    box-sizing: border-box;
  }
  .photo-gallery__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .photo-gallery__images-item {
    width: 30%;
    height: auto;
  }
}/*# sourceMappingURL=bio.css.map */